SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bianca.buca@yahoo.com
SMTP_PASS=jgsy mhiy ovxc fmlt
SMTP_FROM=Makeup by Bianca <bianca.buca@yahoo.com>
APPOINTMENT_RECEIVER_EMAIL=bianca.buca@yahoo.com
FRONTEND_URL=http://localhost:5173
PORT=5000
